@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    color: red;
}
.nav {
    background-color: black;
    color: white;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navwords {
    display: flex;
}
.navtitle {
    margin-left: 200px;
    margin-right: 10px;
    font-size: 30pt;
    line-height: 75px;
}
.navlinks {
    display: flex;
    flex-direction: row;
}
.navlinks li {
    list-style-type: none;
    margin: 0px 25px;
    font-size: 15pt;
    line-height: 75px;
}
.navlinks a{
    text-decoration: none;
    color: white;
}
button {
    margin-right: 200px;
    font-size: 15pt;
    background-color: rgb(173, 11, 11);
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 2px;
}
.row {
    display: flex;
    margin: 0px 400px 0px 200px;}
.col {
    flex: 2;
    margin-right: 10px;
    display: inline;
}
.user-card{
    width: 100%;
    min-height: 300px;
    background-color: white;
    border: 2px solid rgb(92, 92, 92);
}
.user-header {
    width: 100%;
    height: 100px;
    background-color: rgb(173, 11, 11);
    padding-top: 20px;
}
.pic {
    height: 125px;
    width: 125px;
    margin-top: 20px;
    margin-left: 20px;
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pic {
    width: 100%;
}
.card-body {
    margin-left: 20px;
    padding-top: 75px;
    padding-bottom: 15px;
    font-size: 18pt;
}
h3 {
    padding: 15px 0px;
}
.sum {
    font-size: 13pt;
}
.edit {
    margin-top: 20px;
    font-size: 12pt;
}
#pin {
    width: 25px;
    height: auto;
    margin-right: 10px;
}
#cog {
    width: 25px;
    height: auto;
    margin-right: 10px;
}
.edu {
    width: 100%;
    min-height: 175px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid gray;
}
.header-2 {
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 15pt;
}
.bc {
    margin-left: 20px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}
.p1 {
    margin: 5px 0px;
    font: 18pt bold;
}
.p2 {
    margin: 5px 0px;
    font: 14pt lighter;
}
.p3 {
    margin: 10px 0px;
    font: 16pt bolder;
}
.col-2 {
    flex: 1;   
    margin-left: 10px;
    background-color: rgb(218, 218, 218);
}
.cr-con {
    width: 100%;
    height: 250px;
    background-color: white;
    border: 2px solid gray;
}
.cr-card {
    width: 100%;
    height: 75px;
    background-color: #2e2e2e;
}
.cr-header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.num {
    color: black;
    background-color: rgb(112, 112, 112);
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.text {
    color: white;
}
.todd, .Arry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15pt;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.picname {
    display: flex;
}
#con1 {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
#chk, #x {
    width: 60px;
    height: auto;
}
.y-con {
    width: 100%;
    height: 350px;
    background-color: white;
    border: 2px solid gray;
    margin-top: 20px;
}
.y-card {
    width: 100%;
    height: 75px;
    background-color: #2e2e2e;
}
.y-header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.num2 {
    color: black;
    background-color: rgb(112, 112, 112);
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.cnns {
    padding-top: 20px;
}
.Adrien, .Anne, .Alayne, .Phil {
    display: flex;
    margin-left: 10px;
    font-size: 15pt;
}
.y-foot {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;
    border: 2px solid gray;
}
.vm {
    font-size: 15pt;
}